repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml

- repo: local
  hooks:

    - id: isort
      name: isort
      entry: isort
      exclude: "^(?!versions/)"
      files: ^(bot/|core/|src/)
      language: system
      types: [python]

    - id: flake8
      additional_dependencies: [Flake8-pyproject]
      name: flake8
      entry: flake8
      exclude: "^(?!versions/)"
      files: ^(bot/|core/|src/)
      language: python
      types: [python]
